/*
	99Lime.com HTML KickStart by Joshua Gatcke
	style.css
	
*/

/*---------------------------------
	IMPORTS
-----------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);

/*---------------------------------
	OVERRIDES
-----------------------------------*/
h1,h2,h3,h4,h5,h6{
font-family: "Oswald", Helvetica, arial, verdana, sans-serif;
font-weight:normal;
}

thead th,
tbody th{
font-family: "Oswald", Helvetica, arial, verdana, sans-serif;
}

button,
a.btn,
a.button,
input[type="submit"],
input[type="reset"],
input[type="button"]{
font-family: "Oswald", Helvetica, arial, verdana, sans-serif;
}







.menu{
font-family: "Oswald", Helvetica, arial, verdana, sans-serif;
position:fixed;
top:0;
left:0;
width: 100%;
background:black;
color:black;
z-index:1000;
font-size: 1.5em;
height: 2em;
}


.menu li li a{
color: black ;
}



.menu li a {
	color:white;
	font-size: 1.3em;
	
}







img{


}


#beacon{

border-top:solid;

border-bottom:solid;
line-height: 80px;

}	


blockquote{
font-family: Helvetica, arial, verdana, sans-serif;
}

/*---------------------------------
	LAYOUT
-----------------------------------*/
body {
margin: 0 auto ;
width: 960px;
color:#555;
background:white url(css/img/grid.png);
font:normal 0.9em/150% Helvetica, arial, verdana, sans-serif;
text-shadow: 0px 0px 1px transparent; /* google font pixelation fix */
}


#topads li {
display: inline;
padding: 3.5em;

}








strong { color: #555; }

.wrap{
width:100%;
background:#fff;
margin:30px auto 30px auto;
padding:0 2%;
border:1px solid #ccc;
}





	#link-top{
	display:none;
	}
	
/* NAV BAR*/
.navbar{
position:fixed;
top:0;
left:0;
width: 100%;
background:#000;
color:#fff;
z-index:1000;
}

	.navbar #logo{
	position:absolute;
	top:0;
	right:0;
	padding:0.5em 1em;
	font-size: 1.7em;
	color:#efefef;
	text-decoration:none;
	}
	
	.navbar span{
	color:#86dc00;
	}
	
	
	.navbar ul{
	display:inline-block;
	margin:0;
	padding:0;
	}
	
		.navbar li{
		margin:0;
		padding:0;
		list-style-type:0;
		display:inline-block;
		}
		
		.navbar li a{
		display:inline-block;
		color:#efefef;
		padding:1em 1.3em;
		text-decoration:none;
		text-transform: uppercase;
		line-height:100%;
		font-size: 1.2em;
		}
		
.callout{
background:#4598ef;/*#86dc00;*/
padding:3em 0;
color:#fff;
box-shadow:inset 0px 0px 10px rgba(0,0,0,0.2);
text-align: center;
text-shadow:0px 1px 3px rgba(0,0,0,0.2);
display:block;
}
	.callout + div.grid{margin-top:50px;}
	 a.callout{cursor:pointer;}
	 .callout i.icon-4x{font-size:6em;}
	 .callout h4{margin-bottom:30px;}
	 .callout-top{margin:50px 0 0 0;}
	 .callout p{margin-bottom:0;}
	 .callout .button{margin-top:10px;}
	 .callout.green{background:#19ad0b;/*#86dc00;*/}
	 
#mc_embed_signup{
padding:30px 0;
}

#ui-preview{
border:5px solid #ddd;
margin:30px 0;
display:block;
}

/*------------------------------------*/
/*        SOCIAL MEDIA ICONS          */
/*------------------------------------*/
a .icon-facebook-sign {
	color: #3b5998;
}

a .icon-twitter-sign {
	color: #4099ff;
}

a .icon-linkedin-sign {
	color: #4875b4;
}

a .icon-google-plus-sign {
	color: #c63d2d;
}


/*------------------------------------*/
/*             HEADINGS               */
/*------------------------------------*/
.main-title {
	color: #fff;
	font-size: 3em;
	text-shadow: 1px 1px 2px #aaa;
}

.subtitle {
	color: #aaa;
	font-size: 2em;
}

header {
	float: left;
}

.social {
	float: right;
	margin-top: 5px;
}






/*------------------------------------*/
/*             HERO UNIT              */
/*------------------------------------*/
.hero-column {
	background-color: #eee;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	padding: 10px;
	text-align: center;
	width: 250px;
	
}

.hero-column h3 i {
	color: #eab856;
}

.small-column {
background-color:#fff;
border-radius: 1px;
padding: 10px;
	text-align: center;
height: 150px;
width: 150px;

-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;

}

.small-column h3 i {
color:#eab856;

}



/*ul li {
 display: inline-block ;
    padding: 3px;
    border-right: 1px solid #D8D6FF;
    border-left: 1px solid #D8D6FF;
    margin: 0 !important;*/
.footer {
   
   width:1000px;
   background:black;
   height: 30px;
   
}



 
	














/*------------------------------------*/
/*             SLIDESHOW              */
/*------------------------------------*/
/*
.my-slideshow {
	max-width: 400px;
}
*/


/*------------------------------------*/
/*               TABLES               */
/*------------------------------------*/
.design-table {
	background-color: #fff;
	border-radius: 4px;
}

/*------------------------------------*/
/*               FORMS               */
/*------------------------------------*/
.contact-form {
	padding: 10px;
	/*background-color: #3B5999;*/
	border-radius: 6px;
	background-color: #efefef;
height: 290px;
}

a {
	text-decoration: none;
}


textarea {
width: 250px;
	height:10em;
}

/*---------------*/
/*	aside		*?
/*---------------*/


aside {
width:230px;
float:left;
padding: 0px 0px 0px 20px

}

aside section {
display:block;
padding: 10px;
border-bottom: 1px solid #eeeeee;

}

aside section a:hover{
color: #985d6a;
background: #efefef;

}

.circular-image {
border-radius: 50%;
height: 200px;
width: 200px;
}






