/* ===============HEADER============= */
.logo {
	text-indent: -9999px;
	background: url('../images/weekend-camper-logo.png') top left no-repeat;
	width: 259px;
	height: 260px;
	margin-top: -40px;
	display: inline-block;
	vertical-align: top;
}

.main-nav {
	display: inline-block;
	vertical-align: top;
}

.main-nav ul li {
	display: inline-block;
	vertical-align: top;
	margin: 10px 30px;
}

.main-nav ul li a {
	color: #f6f3e2;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}

.tagline {
	border-bottom: 4px double #555;
	margin-bottom: 20px;
	padding-bottom: 20px;
}


/* ===============FEATURE ICONS============= */
.green { background-color: #7d9b5b; }
.blue { background-color: #5b8d9b; }
.orange { background-color: #d1b561; }
.feature-icons .one-third.green:hover { background-color: #8eaa6f; }
.feature-icons .one-third.blue:hover { background-color: #739fac; }
.feature-icons .one-third.orange:hover { background-color: #dbc172; }

.feature-icons i { font-size: 80px; }

.feature-icons .one-third {
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	text-align: center;
	-webkit-transition: background-color .5s;
	-moz-transition: background-color .5s;
	-o-transition: background-color .5s;
	transition: background-color .5s;
}

.feature-icons .one-third a {
	box-sizing: border-box;
	display: inline-block;
	padding: 20px 5px;
	text-decoration: none;
	color: #f6f3e2;
}

/* ===============FOOTER============= */
footer {
	background-color: #444;
	border-top: 4px solid #666;
	color: #f6f3e2;
	padding: 20px 10px;
}

footer input, footer textarea, footer button {
	width: 100% !important;
	box-sizing: border-box;
}

footer button {
	color: #fff;
	border: 1px solid #af933e;
	-webkit-transition: background-color .5s;
	-moz-transition: background-color .5s;
	-o-transition: background-color .5s;
	transition: background-color .5s;
}

footer button:hover {
	background-color: #dbc172 !important;
	border: 1px solid #af933e;
	color: #fff !important;
}

footer input, footer textarea {
	margin-bottom: 10px !important;
}

.from-the-blog dt {
	color: #d1b561;
	font-size: 18px;
	font-weight: bold;
}

.from-the-blog dd p {
	margin-bottom: 10px !important;
}

a.read-more {
	background-color: #666;
	color: #ddd;
	display: block;
	width: 200px;
	text-align: center;
	text-decoration: none;
	border-radius: 4px;
	margin-bottom: 20px !important;
	-webkit-transition: background-color .5s;
	-moz-transition: background-color .5s;
	-o-transition: background-color .5s;
	transition: background-color .5s;
}

a.read-more:hover {
	background-color: #999;
}